{% extends 'catalog/base.html' %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ title }}</h1>
    <p class="lead">Интернет-магазин {{ title }} – это доступные цены, широкий, регулярно обновляемый ассортимент.
        В онлайн-каталоге {{ title }} представлено около 300 000 ведущих брендов одежды, электроники, мебели и других
        товаров для всех сфер жизни. Покупателям предлагается электроника, книжная продукция, детские товары.
        В интернет-магазине можно приобрести продукцию для дома, продукты питания, товары для красоты, ювелирные
        изделия, игрушки.</p>
</div>

    {% for product in product_list %}
        {% include 'catalog/includes/inc_product_card.html' %}
    {% endfor %}
{% endblock %}

